// app global css in Stylus form
body
	background: $grey-1;

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width 4px
	height 4px
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	border-radius: 2px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.4);
}


.link
	color $primary
	text-decoration none
	border-bottom 1px dotted $primary
