<!DOCTYPE html>
<html>
<head>
	<title><%= htmlWebpackPlugin.options.productName %></title>

	<meta charset="utf-8">
	<meta content="#2DAAE4" name="theme-color">
	<meta content="<%= htmlWebpackPlugin.options.productDescription %>" name="description">
	<meta content="telephone=no" name="format-detection">
	<meta content="no" name="msapplication-tap-highlight">
	<meta
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
		name="viewport">

	<link href="statics/app-logo-128x128.png" rel="icon" type="image/png">
	<link href="statics/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="statics/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="statics/icons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="statics/icons/favicon.ico" rel="icon" type="image/ico">
</head>
<body>
<!-- DO NOT touch the following DIV -->
<div id="q-app"></div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153624792-2"></script>
<script>
	(function () {
		window.dataLayer = window.dataLayer || [];

		function gtag () {
			dataLayer.push(arguments);
		}

		gtag('js', new Date());
		gtag('config', 'UA-153624792-2');
	})();
</script>
</body>
</html>
